.index-footer {
  height: 400px;
  padding-top: 100px;
  line-height: 150px;
  background-image: url(../../../../assets/img/bg.png);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 64px;
  color: #fff;
  text-align: center;
}
