{
  "extends": ["stylelint-config-standard"],
  "plugins": ["stylelint-scss"],
  "rules": {
    "at-rule-no-unknown": null,
    "at-rule-empty-line-before": null,
    "declaration-empty-line-before": null
  }
}
