@import "~Assets/css/vars";

$titleNavSize: 22px;
$titleNavWidth: 185px;

.ppio-title {
  width: 100%;
  color: #fff;
  background-color: $theme-color;
  padding: $headerHeight 15px 0;

  .container {
    height: 100%;
    padding-top: 60px;
  }

  .title-big-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 170px;
    z-index: 1;
  }

  .ppio-big-title {
    text-align: center;
    font-size: 26px;
    color: #fff;
    max-width: 800px;
    margin:0 auto;
  }

  .ppio-title-btns {
    text-align: center;
    margin-top: 40px;
    .title-btn {
      display: inline-block;
      width: $titleNavWidth;
      line-height: 48px;
      font-size: $titleNavSize;
      border-radius: 24px;
    }
  }

  .tip {
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
  }

  .terminal-wrap {
    margin: 40px auto -60px;
    width: 800px;
    padding-bottom: 40px;
    max-width: 100%;
    border-radius: 4px;
    background-color: #000;
    box-shadow: 0 3px 12px rgba(37,0,105,.32);
    .code {
      padding: 20px;
      font-size: 16px;
      code {
        width: 100%;
        overflow: auto;
      }
      p {
        line-height: 1.5;
        margin: 0;
      }
      .comment {
        color: #999;
      }
    }
  }
}
