.wrapper {
  img {
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    transform: scaleX(2);
  }

  .bg {
    width: 200px;
    height: 400px;
    background-color: #000;
    background-image: url(../img/Saiki.png);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: contain;
    background-size: contain;
  }
}
