.ppio-compare {
 background-color: #2E6AFF;
 padding: 30px 0;
}
.article {
  max-width: 1000px;
  padding: 40px 80px;
  margin: auto;
  font-size: 15px;
  color: #fff;
  line-height: 1.4;
  font-family: monospace;
  background-color: #000;
  border-radius: 4px;
  .italic {
    font-style: italic;
  }
  .em {
    font-weight: bold;
    color: #4068ce;
  }
  .title {
    text-align: center;
    color: #fff;
    color: #4068ce;
  }
  h1 {
    margin-bottom: 20px;
    font-weight: bold;
  }
  h2 {
    text-align: left;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
  }
  table {
    margin-bottom: 20px;
    width: 100%;
    td {
      border: 1px solid #ddd;
      padding: 10px;
    }
    thead {
      font-size: 17px;
      font-weight: bold;
      color: #88a4ea;
    }
    tr{
      td {
        width: 26.66%;
        text-align: center;
      }
      td:first-child {
        width: 20%;
        font-size: 16px;
        font-weight: bold;
        color: #88a4ea;
      }
    }
  }
  .button-wrap {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .title-btn {
    display: inline-block;
    width:200px;
    line-height: 48px;
    font-size: 20px;
    border-radius: 24px;
    background-color: #2E6AFF;
    color: #fff;
  }

}
