@import "~Assets/css/vars";

$headerGrid: 30px;
$flagSize: 20px;
$navColor: #fff;
$headerBdColor: #cecece;

.ppio-header {
  position: absolute;
  width: 100%;
  height: $headerHeight;
  line-height: $headerHeight;
  overflow: hidden;
  z-index: 1000;
  background-color: transparent;
  color: #fff;
  font-size: 16px;

  .logo {
    display: inline-block;
    font-size: 0;
    margin: 0;
    vertical-align: top;

    .logo-image {
      display: inline-block;
      width: 100px;
      height: 38px;
      @include retina-background-image('../../../../assets/img/logo');
      @include general-background-image;
      vertical-align: middle;
    }
  }

  .nav {
    float: right;
    user-select: none;

    a {
      display: inline-block;
      height: $headerHeight;
      padding: 0 $headerGrid/2;
      cursor: pointer;
      color: $navColor;
      opacity: 0.6;
      transition: opacity linear 0.1s;
      text-decoration: none;

      &:hover {
        opacity: 1;
      }
    }
  }
}
