@import "~Assets/css/vars";

$headerHeight: 64px;
$headerGrid: 30px;
$navColor: #646464;

header {
  height: $headerHeight;
  line-height: $headerHeight;
  overflow: hidden;
  border-bottom: 1px solid #cecece;
  background-color: #fff;

  h1 {
    display: inline-block;
  }

  nav {
    float: right;

    a {
      display: inline-block;
      height: $headerHeight;
      padding: 0 $headerGrid/2;
      cursor: pointer;
      color: $navColor;
      opacity: 0.6;
      transition: opacity linear 0.1s;
      text-decoration: none;

      &:hover {
        opacity: 1;
        color: #323232;
      }
    }
  }
}
