@import "~Assets/css/vars";

$btnHeight: 54px;

.ppio-community {
  color: #fff;
  text-align: center;
  padding: 0 20px;
  background-color: $theme-color;

  .container {
    border-bottom: 0;
  }

  h3 {
    color: #fff;
  }

  p {
    font-size: 24px;
  }

  .community-subscribe {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 460px;
    max-width: 100%;
    height: $btnHeight;
    border-radius: $btnHeight / 2;
    font-size: 18px;

    input {
      width: 100%;
      height: $btnHeight;
      border-radius: $btnHeight / 2;
      padding-left: 20px;
      text-align: left;
      background: transparent;
      border: 1px solid #fff;
      color: #fff;
      transition: box-shadow 0.3s ease;
      font-family: 'IBM Plex Sans';

      &:focus {
        box-shadow: 0 3px 20px rgba(37,0,105,.32), 0 -3px 20px rgba(37,0,105,.32);
      }
    }

    &:hover input {
      box-shadow: 0 3px 20px rgba(37,0,105,.32), 0 -3px 20px rgba(37,0,105,.32);
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #fff;
    }

    ::-moz-placeholder { /* Firefox 19+ */
      color: #fff;
    }

    :-ms-input-placeholder { /* IE 10+ */
      color: #fff;
    }

    :-moz-placeholder { /* Firefox 18- */
      color: #fff;
    }

    .subscribe-btn {
      position: absolute;
      height: $btnHeight;
      width: 155px;
      right: 0;
      top: 0;
      background-color: #fff;
      color: $theme-color;
      border-top-right-radius: $btnHeight / 2;
      border-bottom-right-radius: $btnHeight / 2;
      cursor: pointer;

      &::after {
        content: '';
        display: none;
        background-image: url(../../../../assets/img/loading.svg);
        width: 32px;
        height: 32px;
        vertical-align: middle;
        @include loading;
      }

      &.loading {
        font-size: 0;
        cursor: default;

        &::after {
          display: inline-block;
        }
      }

      &.success {
        font-size: 0;
        cursor: default;

        &::after {
          display: inline-block;
          animation: none;
          background-image: url(../../../../assets/img/success.svg);
        }
      }
    }
  }

  .community-splitter {
    font-size: 40px;
    margin: 10px 0 -15px;
  }

  .community-subtitle{
    margin-bottom: 10px;
  }

  .join-btn {
    display: block;
    width: 252px;
    height: $btnHeight;
    line-height: $btnHeight;
    margin-left: auto;
    margin-right: auto;
    border-radius: $btnHeight / 2;
    font-size: 18px;
    background-color: #fff;
    color: $theme-color;
  }
}
