@import "~assets/css/vars";

.ppio-header {
  position: relative;
  width: 100%;
  height: $headerHeight;
  line-height: $headerHeight;
  overflow: hidden;
  background-color: $theme-color;
  color: #fff;
  font-size: 16px;

  .container {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .nav-handler {
    display: none;
    position: absolute;
    width: 30px;
    height: 40px;
    top: 4px;
    right: 12px;

    .handler-bar {
      position: absolute;
      display: block;
      width: 20px;
      height: 1.1px;
      left: 0;
      background-color: #fff;
      transition: all 0.2s linear;

      &.bar1 {
        top: 14px;
      }

      &.bar2 {
        top: 20px;
      }

      &.bar3 {
        top: 26px;
        left: 10px;
        width: 10px;
      }
    }

    &.on {
      .bar1 {
        top: 13px;
        transform: rotate(-45deg) scaleX(1.1);
        transform-origin: 100% 0;
      }

      .bar2 {
        width: 0;
        left: 10px;
      }

      .bar3 {
        top: 28px;
        transform: rotateZ(45deg) scaleX(2.2);
        transform-origin: 100% 100%;
      }
    }
  }

  .logo {
    display: inline-block;
    font-size: 0;
    margin: 0;
    vertical-align: top;

    .logo-image {
      display: inline-block;
      width: 100px;
      height: 24px;
      background-image: url(../../../../assets/img/logo_white.png);
      background-size: contain;
      background-position: left center;
      vertical-align: middle;
    }
  }

  .nav {
    user-select: none;
    font-size: 0;
    line-height: initial;

    .nav-item {
      display: inline-block;
      margin: 0 15px;
      padding: 15px 0;
      cursor: pointer;
      color: #fff;
      font-size: 16px;
      line-height: initial;
      text-decoration: none;

      span {
        padding: 2px 0;
        transition: all ease 0.2s;
      }

      &:hover,
      &.active {
        span {
          border-bottom: 2px solid #fff;
        }
      }
    }
  }
}

.ppio-header.header_white {
  position: relative;
  background-color: #fff;
  color: $fontColor;
  border-bottom: 1px solid #eaecef;

  .logo .logo-image {
    background-image: url(../../../../assets/img/logo.png);
  }

  .nav-handler .handler-bar {
    background-color: $theme-color;
  }

  .nav .nav-item {
    color: #2c3e50;
    opacity: 1;
    font-weight: 500;

    &:hover,
    &.active {
      span {
        color: $primeColor;
      }
    }

    &:hover,
    &.active {
      span {
        border-bottom: 2px solid $primeColor;
      }
    }
  }
}

@media (max-width: 1200px) {
  .ppio-header {
    .container {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

@media (max-width: 540px) {
  .ppio-header {
    .container {
      padding-left: 20px;
      padding-right: 20px;
      display: block;
    }
    .nav-handler {
      display: block;
      z-index: 10;
    }
    .dropdown {
      .nav {
        z-index: 9;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding-top: 40px;
        background-color: $theme-color;
        .nav-item {
          display: block;
          text-align: center;
          padding: 20px 0;
          color: #fff;
          font-size: 18px;
        }
      }
    }
    &.header_white {
      .dropdown {
        .nav-handler .handler-bar {
          background-color: #fff;
        }
        .nav {
          .nav-item.active{
            span {
              color: #fff;
              border-bottom: 2px solid #fff;
            }
          }
        }
      }
    }
  }
}
