<div class="ppio-download ppio-page-block" id="download">
  <div class="container">
    <div class="ppio-download-nav">
      <p class="nav-item active">Demo APP</p>
      <p class="nav-item">PPIO CLI</p>
      <p class="nav-item">PPIO SDK</p>
    </div>
    <div class="ppio-download-content">
      <div class="content-item active">
        <p class="intro">
          Demo app is our official app based on PPIO. It is a simple personal storage cloud disk that you can use to upload, download and share your files. All operations are decentralized. The code of this app is also open source. <a target="_blank" href='https://pp.io/docs/how_to_use_ppio_demo.html'>(Know more about how to use the demo app)</a>
        </p>
        <div class="platform-wrap">
          <!-- <a class="ppio-anchor platform-btn windows" target="_blank" href="https://resource.testnet.pp.io/demo/release/windows-amd64/0.0.1/ppio-demo.exe">
            <span>Windows</span>
          </a> -->
          <a class="ppio-anchor platform-btn mac" target="_blank" href="https://resource.testnet.pp.io/demo/release/macos/0.0.1/ppio-demo.dmg">
            <span>macOS</span>
          </a>
          <!-- <a class="ppio-anchor platform-btn android" target="_blank" href="https://resource.testnet.pp.io/demo/release/android/0.0.1/ppio-demo.apk">
            <span>Android</span>
          </a> -->
          <a class="ppio-anchor platform-btn github" target="_blank" href="https://github.com/ppio/ppio-demo-desktop">
            <span>Github</span>
          </a>
        </div>
      </div>
      <div class="content-item">
        <p class="intro">
          PPIO CLI is the command line interface of PPIO. The command of PPIO CLI starts with `poss`. You can use the PPIO CLI to complete uploading and downloading of files and so on.<a target="_blank" href='https://www.pp.io/dcos/concept/'>(Know more about PPIO CLI)</a>
        </p>
        <div class="platform-wrap">
          <a class="ppio-anchor platform-btn windows" target="_blank" href="https://resource.testnet.pp.io/poss/release/windows-amd64/0.4.15/poss.exe">
            <span>Windows</span>
          </a>
          <a class="ppio-anchor platform-btn mac" target="_blank" href="https://resource.testnet.pp.io/poss/release/macos/0.4.15/poss">
            <span>macOS</span>
          </a>
          <a class="ppio-anchor platform-btn linux" target="_blank" href="https://resource.testnet.pp.io/poss/release/linux-amd64/0.4.15/poss">
            <span>Linux</span>
          </a>
        </div>
      </div>
      <div class="content-item">
        <p class="intro">
          We now have only have PPIO SDK for Node.js and Android. This PPIO demo app is developed by the PPIO SDK<a target="_blank" href='https://www.pp.io/dcos/sdk/'>(This is the guide of PPIO SDK)</a>.
        </p>
        <div class="platform-wrap">
          <a class="ppio-anchor platform-btn node" target="_blank" href="https://github.com/ppio/poss-sdk-js">
            <span>Node.js</span>
          </a>
          <a class="ppio-anchor platform-btn android" target="_blank" href="https://github.com/ppio/poss-sdk-android">
            <span>Android</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
