@import "./projectList";

.ppio-projects {
  .container {
    display: block;
    padding: 0;
  }

  .project-block {
    display: block;
    width: 100%;
    flex: none;
    padding-bottom: 60px;
    min-height: auto;

    .project-title {
      text-align: center;
    }

    .project-intro {
      padding-left: 20px;
      padding-right: 20px;
    }

    .project-dev-link {
      position: static;
      bottom: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
