@import "~sanitize.css";
@import "./vars";
@import "./fonts.css";

body {
  color: $fontColor;
  font-size: $fontSize;
  min-width: $contentWidth;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.02em;
  line-height: 1.42115;

  &.en {
    font-family: "Futura", -apple-system, SF UI Text, Arial, "PingFang SC", "Hiragino Sans GB", sans-serif;
    font-weight: normal;
    font-style: normal;
  }

  &.zh {
    font-family: "Futura", -apple-system, SF UI Text, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-weight: normal;
    font-style: normal;
  }
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-weight: normal;
}

input,
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid $primeColor;
  border-radius: 2px;
  outline: none;
}

.container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.browse-happy {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: rgb(255, 247, 133);
  color: #202020;
  z-index: 100000;
}
