@import "~sanitize.css";
@import "./base";

body {
  color: #161616;
  line-height: 1.5;
  font-size: 16px;
  background-color: #f7f7f7;

  &.en {
    font-family: Avenir, "Source Sans Pro", "Hiragino Sans GB", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  &.zh {
    font-family: Avenir, "Source Sans Pro", "Hiragino Sans GB", "Helvetica Neue", Helvetica, "Microsoft YaHei", "\9ED1\4F53", Arial, sans-serif;
  }
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-weight: normal;
}

.container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
