@import "vars";
@import './style.scss';

body {
  min-width: unset;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}

.container {
  width: 100%;
  padding: 0 20px;
  max-width: none;
}

.ppio-page-block {
  .container {
    padding: 44px 20px;
  }
}
