@import "vars";
@import './style.scss';

html {
  height: 100%;
}

body {
  position: relative;
  min-width: unset;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;

  &.dropdown {
    height: 100%;
    overflow: hidden;
  }
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  max-width: none;
}
