<header class="ppio-header">
  <div class="container">
    <h1 class="logo">
      <%= title %>
      <a class="top-anchor" href="#"><span class="logo-image"></span></a>
    </h1>
    <nav class="nav">
      <% nav.forEach(function(navItem){ %>
        <a class="nav-item" href="<%= navItem.href %>}}"><%= navItem.name %></a>
      <% }); %>
    </nav>
  </div>
</header>
