<meta charset="UTF-8">
<title><%= title %></title>
<meta name="description" content="<%= des %>">
<meta name="keywords" content="<%= keywords %>">
<meta name="author" content="PPIO, Inc.">
<meta property="og:type" content="website">
<meta property="og:site_name" content="PPIO">
<meta property="og:title" content="PPIO: A private, stable and affordable programmable decentralized cloud storage.">
<meta property="og:description" content="PPIO is a decentralized data storage and delivery platform for developers that values affordability, speed, and privacy. https://pp.io">
<meta property="og:url" content="https://pp.io">
<meta property="og:image" content="https://pp.io/share.png">
<meta property="og:image:alt" content="PPIO">

<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:site" content="@PPLabs_PPIO">
<meta property="twitter:creator" content="@PPLabs_PPIO">
<meta property="twitter:title" content="PPIO: A private, stable and affordable programmable decentralized cloud storage.">
<meta property="twitter:description" content="PPIO is a decentralized data storage and delivery platform for developers that values affordability, speed, and privacy. https://pp.io">
<meta property="twitter:url" content="https://pp.io">
<meta property="twitter:image" content="https://pp.io/share.png">
<meta http-equiv="cleartype" content="on">
<meta http-equiv="X-UA-Compatible" content="IE-edge">
<meta name="renderer" content="webkit">
<meta name="format-detection" content="telephone=no">
<link rel="icon" href="<%= favicon %>">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-128641089-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-128641089-1');
</script>
